.jumbotron{
    background: url(../img/info_head.jpg);
    background-size: cover;
    padding: 8rem 2rem;
    margin: 0 !important;
}
.schedule{
    width: 100% !important;
    background-color: #F3F1FA;
}
.schedule .info_main{
    width: 86%;
    margin: 0 auto;
}
.schedule .profile figure{
    position: absolute;
}
.schedule .profile figcaption{
    margin-left: 400px;
}
.t_li{
    width: 92%;
    margin: 0 auto;
}
.t_li li{
    font-size: 1.5rem;
}
.footer{
    margin: 0 !important;
}

@media (max-width: 1200px){
    .jumbotron{
        padding: 5rem 2rem;
    }
    .schedule .profile figure{
        top: -10vw;
    }
    .schedule .profile figcaption{
        margin-left: 22vw;
    }
    .info_main .profile figure.ab_pr{
        width: 20vw;
        height: 20vw;
    }
}
@media (max-width: 768px){
    .t_li li{
        font-size: 1rem;
    }
    
}
@media (max-width: 560px){
    .info_main .profile figure.ab_pr{
        width: 35vw;
        height: 35vw;
        left: 50%;
        transform: translateX(-50%);
        top: -20vw;
    }
}