.jumbotron{
    background: url(../img/banner_contact.png);
    background-repeat: no-repeat;
    padding: 8rem 0;
    margin: 0;
}
.contact{
    padding: 150px 0;
    background-color: #F6F7FB;
}
.contact-form{
    max-width: 86%;
    margin: 0 auto;
}
.contact-form .control-group{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.contact-form .control-group h3{
    white-space: nowrap;
    width: 20%;
    text-align: center;
    background-color: #F3F1FA;
    font-size: 2rem;
    height: 5rem;
    line-height: 5rem;
}
.contact-form .control-group input{
    width: 60%;
    box-sizing: border-box;
    height: 5rem;
    font-size: 2rem;
}
.contact-form .control-group textarea{
    width: 60%;
    height: 400px;
    font-size: 2rem;
}
.bt_box .btn{
    background-color: #5B35B1;
    color: #FFF;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    display: block;
    width: 400px;
    padding: 1rem 0;
    margin: 0 auto;
}
@media (max-width: 1000px){
    .contact-form .control-group h3{
        font-size: 1.5rem;
        height: 3rem;
        line-height: 3rem;
    }
    .contact-form .control-group input{
        height: 3rem;
        font-size: 1.5rem;
    }
}
@media (max-width: 680px){
    .contact-form .control-group{
        flex-wrap: wrap;
    }
    .contact-form .control-group h3{
        width: 100%;
    }
    .contact-form .control-group input{
        width: 100%;
        text-align: center;
    }
    .contact-form .control-group textarea{
        width: 100%;
    }
    .bt_box .btn{
        width: 86%;
        font-size: 1.5rem;
    }
}