.buy_ticket {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(154,87,237,1) 0%, rgba(247,92,250,1) 100%);
    border: 0;
    width: 820px;
    border-radius: 46px;
    font-size: 44px;
    color: #FFF;
    margin: 0 auto;
}
.ticket {
    width: 54px;
    margin-left: 12px;
}

.schedule {
    width: 86%;
    margin: 0 auto;
}
.schedule .month {
    width: 300px;
}
.schedule .month .swiper-slide {
    text-align: center;
}
.schedule .month h3 {
    font-size: 55px;
}
.schedule .month .button-next {
    width: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
}
.schedule .month .button-prev {
    width: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
}
.schedule .week {
    background-color: #5B35B1;
    color: #FFF;
    font-size: 28px;
    text-align: center;
}
.schedule .week > div {
    padding: 22px 0;
    margin: 0 !important;
    width: calc(100%/7) !important;
}
.schedule .day {
    font-size: 55px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.schedule .day ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 16px;
}
.schedule .day li {
    width: calc(100%/7);
    padding: 30px 0;
    cursor: pointer;
    position: relative;
}
.schedule .day li:hover {
    background-color: #F3F1FA;
}
.schedule .day li.on {
    background-color: #F3F1FA;
}
.schedule .day li.on::after {
    content: '';
    display: block;
    width: 10px;
    height: 0;
    position: absolute;
    bottom: -19px;
    left: calc(50% - 10px);
    border-bottom: 20px solid;
    border-left: 13px solid rgba(0, 0, 0, 0);
    border-right: 13px solid rgba(0, 0, 0, 0);
    color: #F3F1FA;
    transform: rotate(-180deg);

}
.schedule .mySwiper2 .button-next {
    width: 15px;
    position: absolute;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
}
.schedule .mySwiper2 .button-prev {
    width: 15px;
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
}
.info_main{
    background-color: #F3F1FA;
    border-radius: 0 0 30px 30px;
    margin-bottom: 10rem;
}
.info_main .head {
    background: url("../img/info_head.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20rem;
    height: 340px;
    transform: translateY(-15px);
}
.info_main .head p {
    font-size: 28px;
    font-weight: bold;
    color: #FFF;
    padding: 2rem 0;
}
.info_main .profile{
    position: relative;
    width: 92%;
    margin: 0 auto;
}
.info_main .profile figure{
    width: 340px;
    height: 340px;
    border-radius: 100%;
    border: 1rem solid #FFF;
    position: absolute;
    top: -180px;
    left: 0;
}
.info_main .profile figure img{
    border-radius: 100%;
}
.info_main .profile .btn_Class{
    background: linear-gradient(90deg, rgba(154,87,237,1) 0%, rgba(77,95,254,1) 100%);
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50px;
    width: 280px;
    padding: 20px 0;
    border: 0;
    letter-spacing: .2rem;
    box-sizing: border-box;
    position: absolute;
    top: -60px;
    right: 0;
}
.info_main .profile figcaption{
    display: inline-block;
    padding: 2rem 0;
    text-align: start;
    margin-left: 400px;
}
.info_main .profile figcaption strong{
    font-size: 45px;
    font-weight: bold;
    color: #000;
}
.info_main .profile figcaption small{
    font-size: 20px;
}
.info_main .profile .tag{
    font-size: 28px;
    color: #5D5D5D;
    word-break: keep-all;
}
.info_main .list{
    width: 92%;
    margin: 0 auto;
    padding: 5rem 0;
}
.info_main .list>li{
    margin-bottom: 4rem;
}
.info_main .list>li .line{
    background-color: #9C9C9C;
    height: 4px;
    margin-bottom: 2rem;
}
.info_main .list>li .line span{
    display: block;
    width: 20%;
    height: 100%;
    background-color: #5B35B1;
}
.info_main .list>li>h3{
    width: 92%;
    margin: 0 auto 30px;
}
.info_main .list>li>p{
    width: 92%;
    margin: 0 auto;
    font-size: 24px;
    white-space: pre-line;
    word-break: keep-all;
}
.info_main .view{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.info_main .view iframe{
    width: 48%;
    height: 20vw;
    border-radius: 30px;
    margin-bottom: 1rem;
}
.info_main .review{
    width: 92%;
    margin: 0 auto;
    font-size: 24px;
    padding: 0;
}
.info_main .review>li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.info_main .star span{
    display: inline-block;
    width: 40px;
    height: 40px;
}
.star .full{
    background: url(../img/star_full.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.star .half{
    background: url(../img/star_half.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.star .none{
    background: url(../img/star.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.yoga_list{
    width: 86%;
    margin: 0 auto;
}
.yoga_list>li{
    margin-bottom: 5rem;
}
.yoga_list>li h3{
    margin-bottom: 2rem;
}
.yoga_list>li>ul{
    display: flex;
    align-items: center;
}
.yoga_list>li>ul>li{
    width: 32%;
    margin-left: 2%;
}
.yoga_list>li>ul>li:first-child{
    margin-left: 0;
}
.yoga_list>li>ul>li figure{
    margin-bottom: 2rem;
}
.yoga_list>li>ul>li figcaption{
    text-align: center;
    font-size: 2rem;
}
.lj{
    display: none;
}
@media (max-width: 1680px) {
    .info_main .profile{
        display: flex;
        align-items: center;
    }
    .info_main .profile figure{
        position: static;
    }
    .info_main .profile figcaption{
        margin-left: 1rem;
    }
}
@media (max-width: 1500px){
    .info_main .review>li{
        font-size: 1rem;
        flex-wrap: wrap;
    }
    .info_main .review>li p{
        margin-bottom: 0;
    }
    .info_main .star span{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 1200px){
    .info_main .profile figure{
        width: 35vw;
        height: 35vw;
        border: 10px solid #FFF;
    }
    .info_main .profile .btn_Class{
        width: 180px;
        font-size: 1.5rem;
        padding: 10px 0;
        top: -45px;
    }
    .info_main .head{
        padding: 0;
        text-align: center;
    }
}
@media (max-width: 1000px){
    .info_main .head{
        height: 15vh;
    }
    .buy_ticket{
        width: 80vw;
        font-size: 2rem;
    }
    .yoga_list>li>ul>li figcaption{
        font-size: 1.5rem;
    }
    .info_main .profile figure{
        width: 25vw;
        height: 25vw;
    }
    .info_main .profile figcaption strong{
        font-size: 2em;
    }
    .info_main .profile .tag{
        font-size: 1.5rem;
    }
}
@media (max-width: 992px){
    .lj{
        display: block;
    }
}
@media (max-width: 768px){
    .footer .col-md-6.left{
        max-width: 100% !important;
    }
    .info_main .profile{
        flex-wrap: wrap;
        justify-content: center;
    }
    .info_main .profile .btn_Class{
        position: static;
        border-radius: 0;
        width: 100%;
    }
    .info_main .profile figcaption strong{
        font-size: 2rem;
    }
    .info_main .profile .tag{
        font-size: 1rem;
    }
    .info_main .star span{
        width: 1rem;
        height: 1rem;
    }
    .yoga_list>li>ul>li figcaption{
        font-size: 1rem;
    }
    .info_main .head p{
        font-size: 1.2rem;
    }
    .schedule .month h3{
        font-size: 3rem;
    }
    .schedule .day li{
        padding: 3.333vw 0;
        font-size: 2rem;
    }
    .info_main .review>li>p{
        font-size: 0.75rem;
    }
    .info_main .list{
        padding: 2rem 0;
    }
    .info_main .list>li>p{
        font-size: 1rem;
    }
    .t_list>.tcard{
        width: 50%;
    }
    .team .team-text h5{
        font-size: 1rem;
    }
    .team .team-text span{
        font-size: 0.6rem;
    }
    .jumbotron .container{
        padding: 0 !important;
    }
    .schedule .week > div{
        font-size: 1.5rem;
    }
    .info_main .view{
        flex-wrap: wrap;
    }
    .info_main .view iframe{
        width: 100%;
        height: 40vw;
        margin-bottom: 3.333vw;
    }
    .info_main .list>li{
        margin-bottom: 2rem;
    }
    .info_main{
        margin-bottom: 3rem;
    }
    .yoga_list>li{
        margin-bottom: 2rem;
    }
    .yoga_list>li h3{
        font-size: 1.2rem;
    }
}
@media (max-width: 560px){
    .buy_ticket{
        font-size: 1.5rem;
    }
    .buy_ticket .ticket{
        display: none;
    }
    .jumbotron{
        word-break: keep-all;
    }
    .info_main .view iframe{
        border-radius: 8px;
    }
    .info_main .list>li>p{
        font-size: 1rem;
    }
    .schedule .profile figcaption{
        margin: 0 auto !important;
        padding-top: 5rem;
        text-align: center;
    }
    .mpr figcaption{
        padding: 0 !important;
    }
    .info_main .profile .tag{
        font-size: 0.75rem;
    }
    .schedule .mySwiper2 .button-next{
        display: none;
    }
    .schedule .mySwiper2 .button-prev{
        display: none;
    }
}
.abi_h{
    background: url(../img/info_head.jpg);
    background-size: cover;
    padding: 8rem 2rem;
    margin: 0 !important;
}
.ab_s{
    width: 100% !important;
    background-color: #F3F1FA;
}
.ab_s .info_main{
    width: 86%;
    margin: 0 auto;
}
.ab_s .profile figure{
    position: absolute;
}
.ab_s .profile figcaption{
    margin-left: 400px;
}
.t_li{
    width: 92%;
    margin: 0 auto;
}
.t_li li{
    font-size: 1.5rem;
}
.footer{
    margin: 0 !important;
}

@media (max-width: 1200px){
    .abi_h{
        padding: 5rem 2rem;
    }
    .schedule .profile figure{
        top: -10vw;
    }
    .schedule .profile figcaption{
        margin-left: 22vw;
    }
    .info_main .profile figure.ab_pr{
        width: 20vw;
        height: 20vw;
    }
}
@media (max-width: 768px){
    .t_li li{
        font-size: 1rem;
    }
    
}
@media (max-width: 560px){
    .info_main .profile figure.ab_pr{
        width: 35vw;
        height: 35vw;
        left: 50%;
        transform: translateX(-50%);
        top: -20vw;
    }
}
.ab_h{
    background: url(../img/banner_about.png);
    background-size: cover;
    padding: 5rem 2rem;
}
@media (max-width: 768px){
    .ab_h{
        padding: 2rem 0;
    }
    .ab_h h1{
        font-size: 1.5rem;
        margin: 0 !important;
    }
    .t_list>.tcard{
        width: 50%;
    }
    .team .team-text h5{
        font-size: 1rem;
    }
    .team .team-text span{
        font-size: 0.5rem;
    }
    .navbar-brand h1{
        font-size: 1.2rem;
    }
    .logo{
        width: 2rem;
        height: 2rem;
    }
    .navbar-toggler{
        padding: ;
    }
}
.ser_h{
    margin-bottom: 0 !important;
}
.ser_h h1{
    margin: 0 !important;
}
.footer{
    margin-top: 0 !important;
}
.calendar{
    background-color: #F6F7FB;
    padding: 5rem 0;
}
.calendar .date-wrap{
    width: 86%;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid #707070;
    border-radius: 15px;
    padding: 3rem 2rem;
}
.calendar .date-month{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.calendar .ym{
    display: flex;
    align-items: center;
}
.calendar .ym span{
    font-size: 2rem;
    font-weight: bold;
}
.calendar .ym .mm{
    color: #21293B;
    font-size: 45px;
}
.calendar .ym .yy{
    font-size: 45px;
    color: #5B35B1;
}
.calendar .ym .y-line{
    display: block;
    background-color: #E2E2EA;
    height: 30px;
    width: 4px;
    margin: 0 2rem;
}
.calendar .x-line{
    width: 60%;
    height: 4px;
    background-color: #E2E2EA;
}
.calendar .button_wrap button{
    background: none;
    border: 0;
    width: 90px;
    height: 80px;
}
.calendar table{
    width: 100%;
    text-align: center;
    border-spacing: 10px;
    border-collapse: separate;
}
.calendar th{
    background-color: #E7E2F5;
    padding: 2rem 0;
    font-size: 2rem;
    color: #21293B;
}
.calendar td{
    width: calc(100% / 7);
    font-size: 2.5rem;
    color: #5D5D5D;
    vertical-align: top;
    padding: 3rem 0;
}
.calendar td.on{
    background-color: #F3F1FA;
    border-radius: 30px;
}
.calendar td small{
    display: block;
}
.calendar td strong{
    display: block;
    color: #000;
}
.calendar td span{
    display: block;
    width: 50%;
    font-size: 70%;
    margin: 0 auto;
    color: #FFF;
    background: linear-gradient(90deg, rgba(154,87,237,1) 0%, rgba(77,95,254,1) 100%);
    border-radius: 30px;
}
@media (max-width: 1500px){
    .calendar .x-line{
        width: 40%;
    }
}
@media (max-width: 1400px){
    .calendar th{
        font-size: 1.5rem;
    }
    .calendar td{
        padding: 1rem 0;
        font-size: 1.6rem;
    }
    .calendar td small{
        font-size: 60%;
    }
    .calendar td strong{
        font-size: 80%;
    }
    .calendar td span{
        width: 80%;
        font-size: 60%;
    }
}
@media (max-width: 992px){
    .calendar .x-line{
        width: 30%;
    }
    .calendar .ym .mm{
        font-size: 2rem;
    }
    .calendar .ym .yy{
        font-size: 2rem;
    }
    .calendar .button_wrap button{
        width: 8vw;
        height: 7vw;
    }
    .calendar th{
        font-size: 1.2rem;
        padding: 1rem 0;
    }
}
@media (max-width: 768px){
    .calendar td{
        padding: 0;
        overflow: hidden;
        font-size: 1.2rem;
    }
    .calendar td.on{
        border-radius: 8px;
    }
    .calendar td strong{
        font-size: 1rem;
    }
    .calendar td span{
        width: 100%;
        border-radius: 0;
    }
}
@media (max-width: 680px){
    .calendar{
        padding: 2rem 0;
    }
    .calendar .date-wrap{
        width: 92%;
        padding: 2rem 1rem;
    }
    .calendar .date-month{
        margin-bottom: 16px;
    }
    .calendar .ym .mm{
        font-size: 4.444vw;
    }
    .calendar .ym .yy{
        font-size: 4.444vw;
    }
    .calendar .ym .y-line{
        margin: 0 2.222vw;
        width: 2px;
        height: 12px;
    }
    .calendar .x-line{
        height: 2px;
    }
    .calendar .button_wrap button{
        width: 10vw;
    }
    .calendar th{
        padding: 3.333vw 0;
        font-size: 2.222vw;
    }
    .calendar td{
        font-size: 3.333vw;
    }
    .calendar td small{
        font-size: 2.222vw;
    }
    .calendar td strong{
        font-size: 2.222vw;
    }
    .calendar td.on{
        border-radius: 4px;
    }
}
.pr_h{
    background: url(../img/banner_price.png);
    background-size: cover;
}
.price .round{
    background-color: #5B35B1;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
    color: #FFF;
    position: absolute;
    top: -20px;
    left: -45px;
    
}
.price .round img{
    width: 60px;
    height: 36px;
}
.price .round span{
    font-size: 1.5rem;
}
.price .round p{
    font-size: 3rem;
}
.price label:hover{
    border: 1px solid #8970CE;
}
.price .box:hover .round{
    background-color: #8970CE;
}
.price .box .sale{
    font-weight: bold;
    color: #000;
    font-size: 1.5rem;
    font-weight: bolder !important;
}
.price .box .sale span{
    text-decoration: line-through;
    padding-left: 1rem;
}
.price .box>p{
    font-size: 2.5rem;
    color: #000;
    margin: 0;
}
.price .box>p strong{
    font-size: 3.75rem;
}
.price input[type='radio']{
    display: none;
}
.price input[name='tic']:checked+label{
    border: 1px solid #8970CE;
}
.price input[name='tic']:checked+label .round{
    background-color: #8970CE;
}
.price label{
    display: block;
    width: 500px;
    height: 182px;
    padding: 20px;
    margin-bottom: 60px;
    box-sizing: border-box;
    position: relative;
    background-color: #F3F1FA;
    text-align: end;
}
.bt_buy{
    background: linear-gradient(90deg, rgba(154,87,237,1) 0%, rgba(77,95,254,1) 100%);
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50px;
    border: 0;
    display: block;
    margin: 0 auto 2rem;
    padding: 10px 80px;
}
@media (max-width: 1200px){
    .price{
        justify-content: center;
    }
}
@media (max-width: 680px){
    .pr_h{
        padding: 1rem 0;
    }
    .container h1{
        font-size: 1.5rem;
    }
    .container h1.mb-4{
        font-size: 1.2rem;
        margin-bottom: .75rem !important;
    }
    .price .round img{
        display: none;
    }
    .price .round{
        width: 20vw;
        height: 20vw;
        top: 50%;
        transform: translateY(-50%);
        left: 2vw;
    }
    .price .round span{
        font-size: 1rem;
    }
    .price .round p{
        font-size: 1.5rem;
        margin: 0;
    }
    .price .label{
        width: 86%;
    }
    .price .box>p strong{
        font-size: 2.5rem;
    }
    .price .box .sale{
        font-size: 1rem;
    }
    .price .bt_buy{
        font-size: 1rem;
    }
}
@media (max-width: 460px){
    .price .round{
        display: none;
    }
    .price label{
        text-align: center;
    }
    .bt_buy{
        font-size: 18px;
        padding: 4px 12px;
    }
    
}
.con_h{
    background: url(../img/banner_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0;
    margin: 0;
}
.contact{
    padding: 150px 0;
    background-color: #F6F7FB;
}
.contact-form{
    max-width: 86%;
    margin: 0 auto;
}
.contact-form .control-group{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.contact-form .control-group h3{
    white-space: nowrap;
    width: 20%;
    text-align: center;
    background-color: #F3F1FA;
    font-size: 2rem;
    height: 5rem;
    line-height: 5rem;
}
.contact-form .control-group input{
    width: 60%;
    box-sizing: border-box;
    height: 5rem;
    font-size: 2rem;
}
.contact-form .control-group textarea{
    width: 60%;
    height: 400px;
    font-size: 2rem;
}
.bt_box .btn{
    background-color: #5B35B1;
    color: #FFF;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    display: block;
    width: 400px;
    padding: 1rem 0;
    margin: 0 auto;
}
@media (max-width: 1000px){
    .contact-form .control-group h3{
        font-size: 1.5rem;
        height: 3rem;
        line-height: 3rem;
    }
    .contact-form .control-group input{
        height: 3rem;
        font-size: 1.5rem;
    }
}
@media (max-width: 680px){
    .contact-form .control-group{
        flex-wrap: wrap;
    }
    .contact-form .control-group h3{
        width: 100%;
    }
    .contact-form .control-group input{
        width: 100%;
        text-align: center;
    }
    .contact-form .control-group textarea{
        width: 100%;
    }
    .bt_box .btn{
        width: 86%;
        font-size: 1.5rem;
    }
    .con_h{
        padding: 1rem 0;
    }
    .contact{
        padding: 2rem 0;
    }
    .footer{
        margin: 0 !important;
    }
    .contact-form .control-group h3{
        font-size: 1.2rem;
    }
    .contact-form .control-group input{
        font-size: 1rem;
    }
    .bt_box .btn{
        font-size: 1.2rem;
        padding: .75rem 0;
    }
}
.login_form{
    background-color: #F6F7FB;
    padding: 10rem 0;
}
.login_form h3{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.login_form h5{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.login_form form{
    background-color: #FFF;
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;
}
.login_form .wrap{
    width: 80%;
    margin: 0 auto 2rem;
}
.login_form .wrap p{
    font-size: 1.5rem;
}
.login_form .wrap input{
    border: 1px solid #C6C6C6;
    border-radius: 15px;
    width: 100%;
    padding: 16px 24px;
    font-size: 1.2rem;
}
.login_form .wrap a{
    color: #5D5D5D;
    margin-right: 1rem;
    font-size: 1.2rem;
}
.login_form .bt_login{
    display: block;
    width: 80%;
    margin: 0 auto 1rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0;
    color: #FFF;
    background-color: #5B35B1;
    border-radius: 15px;
    border: 0;
}
.login_form .bt_join{
    display: block;
    width: 80%;
    margin: 0 auto 1rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0;
    background-color: #FFF;
    border-radius: 15px;
    border: 1px solid #C6C6C6;
}
.login_form .bt_join a{
    color: #000;
    width: 100%;
    display: block;
    text-decoration: none;
}
.login_form .bt_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.login_form .bt_box .bt_lg{
    border: 1px solid #C6C6C6;
    border-radius: 15px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 48%;
    font-size: 1.5rem;
    padding: 20px 0;
}
.login_form .bt_box button img{
    width: 36px;
    height: 36px;
}
.login_form .wrap .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.login_form .wrap .flex button{
    display: block;
    width: 16%;
    padding: 20px 0;
    font-size: 1rem;
    border-radius: 15px;
}
.login_form .wrap .flex .btn1{
    border: 1px solid #C6C6C6;
    background-color: #FFF;
}
.login_form .wrap .flex .btn2{
    border: 0;
    background-color: #947FD3;
    color: #FFF;
}
.login_form .wrap .flex input{
    width: 83%;
}
.login_form .bt_box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
} 
.login_form .bt_box2 button{
    display: block;
    width: 48%;
    padding: 30px 0;
    border-radius: 15px;
    font-size: 1.5rem;
}
.login_form .bt_box2 .btn_x{
    border: 1px solid #C6C6C6;
    background-color: #FFF;
}
.login_form .bt_box2 .btn_o{
    border: 0;
    color: #FFF;
    background-color: #5B35B1;
}
.join{
    padding: 10rem 0;
    background-color: #F6F7FB;
}
.join .container{
    width: 1020px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid #C6C6C6;
    padding: 120px;
}
.join .container h3{
    font-size: 54px;
    margin-bottom: 14px;
}
.join .container h5{
    font-size: 24px;
    margin-bottom: 50px;
}
.join .container h5 span{
    font-weight: 700;
}
.join .container .list{
    margin-bottom: 30px;
    border-top: 1px solid #707070;
}
.join .container .list li{
    border-bottom: 1px solid #707070;
    padding: 40px 0;
}
.join .container .list .t_wrap{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.join .container .list .t_wrap figure{
    width: 100px;
    height: 100px;
}
.join .container .list .t_wrap figcaption{
    margin-left: 40px;
}
.join .container .list .t_wrap figcaption h6{
    font-size: 28px;
    font-weight: bold !important;
}
.join .container .list .t_wrap figcaption p{
    margin: 0;
}
.join .container .bt_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.join .container .bt_wrap button{
    border: 1px solid #C6C6C6;
    border-radius: 15px;
    width: 32%;
    height: 67px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.join .container .bt_wrap button img{
    width: 36px;
    height: 36px;
    margin-right: 15px;
}
.join .container .ex{
    display: block;
    text-align: end;
    color: #5D5D5D;
    margin-bottom: 70px;
}
.join .container .bt_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.join .container .bt_box button{
    display: block;
    width: 49%;
    padding: 30px 0;
    border-radius: 15px;
    font-size: 20px;
    border: 0;
}
.join .container .bt_box .btn1{
    border: 1px solid #C6C6C6;
    background-color: #FFF;
}
.join .container .bt_box .btn2{
    background-color: #5B35B1;
    color: #FFF;
}
.join .container .list2 li{
    margin-bottom: 30px;
}
.join .container .list2 li>p{
    font-size: 24px;
}
.join .container .list2 li>p span{
    color: red;
    vertical-align: middle;
}
.join .container .list2 li input{
    border: 1px solid #C6C6C6;
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}
.join .container .list2 .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.join .container .list2 .flex>input{
    width: 80%;
}
.join .container .list2 .flex>button{
    border: 1px solid #5D5D5D;
    padding: 20px 0;
    width: 18%;
    display: block;
    font-size: 20px;
    border-radius: 15px;
    background-color: #FFF;
}
.join .container .list2 .flex>div{
    width: 48%;
}
.join .container .check{
    background-color: #F3F1FA;
    padding: 30px;
}
.join .container .check input{
    display: none;
}
.join .container .check input+label{
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 12px 0;
    border-bottom: 1px solid #707070;
    margin-bottom: 12px;
}
.join .container .check input+label .ck{
    border: 1px solid #5B35B1;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-color: #FFF;
}
.join .container .check input:checked+label .ck{
    background-color: #5B35B1;
}
.join .container .check>p{
    font-size: 24px;
}
.join .container .check>p a{
    font-weight: bold;
    color: #000;
    text-decoration: underline;
}
.join .container .in2 .bt_wrap{
    justify-content: center;
}
.h_lg_a{
    display: flex;
    align-content: center;
}
.mypage{
    background-color: #F6F7FB;
    padding: 60px 0;
}
.mypage .info{
    width: 86%;
    margin: 0 auto 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mypage .user{
    width: 29%;
}
.mypage .user h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.mypage .user h3 a{
    font-size: 1.5rem;
    font-weight: 400;
    color: #707070;
    text-decoration: underline;
}
.mypage .user .wrap{
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    padding: 30px 0;
    z-index: 1;
}
.mypage .bg_box{
    background-color: #8970CE;
}
.mypage .user .bg_box{
    width: 100%;
    height: 12.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.mypage .user .wrap ul{
    width: 92%;
    margin: 0 auto;
}
.mypage .user .wrap li{
    border-bottom: 1px solid #707070;
    margin-bottom: 30px;
}
.mypage .user .wrap li:last-child{
    border: 0;
}
.mypage .user figure{
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto 30px;
    border-radius: 100%;
    border: 10px solid #FFF;
    background-color: #F5F6FA;
    box-shadow: 0px 2px 4px 6px rgba(0, 0, 0, 0.15);
    position: relative;
}
.mypage .user figure img{
    border-radius: 100%;
}
.mypage .user figure input{
    display: none;
}
.mypage .user figure label{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 100%;
    box-shadow: 2px 4px 6px 4px rgba(0, 0, 0, 0.15);
}
.mypage .user figcaption{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #000;
}
.mypage .user table{
    width: 100%;
    margin-bottom: 30px;
    border-spacing: 10px;
    border-collapse: separate;
    font-size: 1.5vw;
}
.mypage .user .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mypage .user p.flex{
    font-size: 1.5vw;
}
.mypage .user p.flex strong{
    font-size: 2.8125rem;
    color: #000;
}
.mypage .user p.flex input{
    border-radius: 15px;
    border: 1px solid #707070;
    background-color: #FFF;
    padding: 10px 20px;
    font-size: 1.25rem;
}
.mypage .right{
    width: 69%;
}
.mypage .m_ticket{
    margin-bottom: 60px;
}
.mypage .m_ticket h3{
    margin-bottom: 1rem;
}
.mypage .m_ticket .wrap{
    background-color: #FFF;
    padding-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
}
.mypage .m_ticket .wrap .bg_box{
    height: 30px;
    margin-bottom: 30px;
}
.mypage .m_ticket ol{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mypage .m_ticket li{
    display: flex;
    align-items: center;
}
.mypage .m_ticket li .icon1{
    width: 60px;
}
.mypage .m_ticket li .icon2{
    width: 50px;
}
.mypage .m_ticket p{
    margin-left: 20px;
    font-size: 1.75rem;
    margin-bottom: 0;
}
.mypage .m_ticket .st{
    font-size: 3.4375rem;
    color: #5B35B1;
    font-weight: 900 !important;
    text-align: center;
}
.mypage .m_ticket .st small{
    display: block;
    font-size: 1.5rem;
    color: #000;
}
.mypage .right .re_class h3{
    margin-bottom: 1rem;
}
.mypage .re_class .wrap{
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    border-radius: 15px;
}
.mypage .re_class .text_l{
    font-size: 2rem;
}
.mypage .re_class .text_l strong{
    font-size: 2.8125rem;
}
.mypage .re_class .text_l input{
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(154,87,237,1) 0%, rgba(77,95,254,1) 100%);
    width: 100%;
    border: 0;
    color: #FFF;
    padding: 12px 24px;
    font-weight: bold;
}
.mypage .re_class .img{
    width: 300px;
    height: 300px;
    margin-left: 30px;
}
.mypage .line{
    width: 100%;
    height: 4px;
    background-color: #9C9C9C;
    margin-bottom: 20px;
}
.mypage .line span{
    display: block;
    width: 30%;
    height: 100%;
    background-color: #8970CE;
}
.mypage .review{
    width: 86%;
    margin: 0 auto 80px;
}
.mypage h3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.mypage .review h3 a{
    color: #707070;
    font-size: 80%;
    text-decoration: underline;
}
.review li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.review li p{
    margin-bottom: 0;
    margin-right: 1.5rem;
    font-size: 1.5rem;
}
.mypage .review .star span{
    display: inline-block;
    width: 40px;
    height: 36px;
}
.mypage .par{
    width: 86%;
    margin: 0 auto 80px;
}
.mypage .par .wrap{
    justify-content: space-around;
    margin-bottom: 80px;
}
.mypage .view_list{
    width: 86%;
    margin: 0 auto 80px;
}
.mypage .view_list ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mypage .view_list ul li{
    width: 32%;
}
.mypage .use_record{
    width: 86%;
    margin: 0 auto;
}
.mypage .use_record .re_class{
    margin-bottom: 2rem;
}
.mypage .use_record .re_class .wrap{
    justify-content: space-around;
}
.no_list{
    background-color: #FFF;
    padding: 70px;
    margin-bottom: 80px;
    text-align: center;
}
.no_list p{
    font-size: 2.375rem;
    color: #C6C6C6;
}
.no_list input{
    background: linear-gradient(90deg, rgba(154,87,237,1) 0%, rgba(77,95,254,1) 100%);
    padding: 12px 48px;
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    font-size: 2.5rem;
    border: 0;
}
.review_write{
    width: 86%;
    margin: 0 auto;
    padding: 10rem 0;
    text-align: center;
}
.review_write h3{
    font-size: 55px;
    margin-bottom: 2rem;
}
.review_write .star span{
    display: inline-block;
    width: 120px;
    height: 110px;
}
.review_write .star{
    margin-bottom: 60px;
}
.review_write p{
    font-size: 35px;
    color: #5D5D5D;
}
.review_write select{
    border-radius: 15px;
    border: 1px solid #C6C6C6;
    padding: 12px 48px;
    width: 50%;
    font-size: 35px;
    background: url(../img/arrow_d.png);
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    color: #5D5D5D;
    outline: none;
    margin-bottom: 5rem;
}
.review_write .bt_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.review_write .bt_box button{
    width: 380px;
    height: 100px;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: bold;
}
.review_write .bt_box .btn_x{
    background-color: #FFF;
    border: 1px solid #C6C6C6;
}
.review_write .bt_box .btn_o{
    background-color: #5B35B1;
    color: #FFF;
    border: 0;
    margin-left: 1rem;
}
.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 990px;
    border: 1px solid #C6C6C6;
    border-radius: 15px;
    background-color: #FFF;
    padding: 70px 0;
    text-align: center;
}
.popup figure{
    width: 90px;
    height: 90px;
    margin: 0 auto 1.5rem;
}
.popup figcaption{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.popup input{
    border: 1px solid #C6C6C6;
    border-radius: 15px;
    background-color: #FFF;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    width: 380px;
}

.replay{
    width: 86%;
    margin: 0 auto;
    padding: 10rem 0;
}
.replay .no_view{
    margin-bottom: 2rem;
}
.replay .line{
    width: 100%;
    height: 4px;
    background-color: #9C9C9C;
    margin-bottom: 3rem;
}
.replay .line span{
    display: block;
    width: 30%;
    height: 100%;
    background-color: #8970CE;
}
.replay h3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.replay h3 strong{
    font-size: 45px;
}
.replay h3 small{
    padding-left: 1rem;
}
.replay h3 span{
    font-weight: 500;
    font-size: 1.5rem;
}
.replay .explain{
    font-size: 1.5rem;
}
.t_page .ab_pr{
    position: relative;
}
.t_page .ab_pr input{
    display: none;
}
.t_page .ab_pr label{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    cursor: pointer;
}
.t_page input[type='text']{
    border: 1px solid #C6C6C6;
    border-radius: 15px;
    padding: 12px 24px;
    box-sizing: border-box;
}
.t_page .n_adr{
    display: flex;
    align-items: flex-end;
}
.t_page .n_adr input{
    margin-left: 12px;
}
.t_page .bt_plus{
    border: 0;
    width: 100px;
    height: 50px;
    outline: none;
    margin-left: 1rem;
}
.t_page .tag{
    display: flex;
    align-items: center;
}
.t_page .tag input{
    font-size: 24px;
    width: 700px;
}
.t_page .tag_list{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.t_page .tag_list p{
    background-color: #8970CE;
    border-radius: 15px;
    color: #FFF;
    font-size: 28px;
    height: 50px;
    line-height: 50px;
    padding: 0 24px;
    margin-left: 1rem;
}
.t_page .tag_list p:first-child{
    margin-left: 0;
}
.t_page .tag_select{
    position: absolute;
    left: 50%;
    bottom: -380px;
    transform: translateX(-50%);
    background-color: #FFF;
    padding: 2rem 0;
    border-radius: 15px;
    border: 1px solid #C6C6C6;
    width: 100%;
    display: none;
}
.t_page .tag_select button{
    background: none;
    width: 40px;
    border: 0;
    position: absolute;
    top: 12px;
    right: 12px;
    outline: none;
}
.t_page .tag_select ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
.t_page .tag_select li{
    border-radius: 30px;
    background-color: #8970CE;
    color: #FFF;
    font-size: 28px;
    padding: 12px 24px;
    width: 30%;
    margin-left: 5%;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}
.t_page .tag_select li:nth-child(3n+1){
    margin-left: 0;
}
.t_page .plus_box{
    width: 92%;
    margin: 0 auto 12px;
    display: flex;
    align-items: center;
}
.t_page .plus_box input{
    width: 60%;
}
.t_page .list .add{
    display: flex;
    align-items: center;
    width: 92%;
    margin: 0 auto 12px;
}
.t_page .list .add .minus{
    background: none;
    border: none;
    width: 60px;
    outline: none;
}
.t_page .list .add input{
    width: 60%;
}
.t_page h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.t_page h3 a{
    color: #666;
    font-size: 80%;
    font-weight: 300 !important;
}
.t_page .class{
    background-color: #FFF;
    padding: 5rem 0;
    text-align: center;
    margin-bottom: 2rem;
}
.t_page .class p{
    font-size: 32px;
    margin-bottom: 2rem;
}
.t_page .class input{
    background: linear-gradient(90deg, rgba(154,87,237,1) 0%, rgba(77,95,254,1) 100%);
    border-radius: 40px;
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    padding: 12px 24px;
    border: 0;
    width: 300px;
}
.t_page .view{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
    text-align: center;
}
.t_page .view li{
    width: 48%;
    margin-bottom: 1rem;
}
.t_page .view figcaption{
    font-size: 1.5rem;
}
.vod_all .view{
    justify-content: normal;
}
.vod_all .view li{
    width: 32%;
    margin-left: 2%;
}
.vod_all .view li:nth-child(3n+1){
    margin-left: 0;
}
.vod_all .bt_add{
    font-size: 80%;
    border: 0;
    outline: none;
}
.vod_all .bt_add:hover{
    text-decoration: underline;
}
.vod_all .add_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFF;
    padding: 50px;
    display: none;
}
.vod_all .add_box .bt_close{
    width: 50px;
    border: 0;
    outline: none;
    background: none;
    position: absolute;
    right: 12px;
    top: 12px;
}
.vod_all .add_box .area{
    width: 43vw;
    height: 25vw;
    margin: 0 auto 24px;
}
.vod_all .add_box .area input{
    display: none;
}
.vod_all .add_box .area label{
    width: 100%;
    height: 100%;
    background: url(../img/add_vod.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.vod_all .add_box .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.vod_all .add_box .flex p{
    font-size: 34px;
    font-weight: 900 !important;
}
.vod_all .add_box .title{
    width: 45%;
}
.vod_all .add_box .title input{
    width: 100%;
    font-size: 32px;
    font-weight: bold;
}
.vod_all .add_box .v_tag{
    width: 45%;
}
.vod_all .add_box .v_tag select{
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #C6C6C6;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url(../img/arrow_d.png);
    background-position: 96% 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    outline: none;
}
.vod_all .add_box .bt_add2{
    background-color: #8970CE;
    color: #FFF;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 12px 40px;
    display: block;
    margin-left: auto;
    border: 0;
}
.class_add td{
    height: 11vw;
    vertical-align: middle;
    border-radius: 30px;
}
.class_add .active{
    background-color: #8970CE;
    color: #FFF;
}
.class_add2{
    width: 86%;
    margin: 3rem auto;
    background-color: #FFF;
    border: 1px solid #707070;
    border-radius: 15px;
    padding: 3rem;
}
.class_add2 .line{
    width: 100%;
    height: 4px;
    background-color: #9C9C9C;
    margin-bottom: 2rem;
}
.class_add2 .line span{
    display: block;
    width: 30%;
    height: 100%;
    background-color: #8970CE;
}
.class_add2 li{
    margin-bottom: 3rem;
}
.class_add2 .li1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.class_add2 .li1 input{
    width: 65%;
    height: 80px;
    border: 1px solid #8970CE;
    border-radius: 15px;
    font-size: 28px;
    padding: 12px 24px;
    box-sizing: border-box;
}
.class_add2 .time{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.class_add2 .time select{
    width: 45%;
    height: 80px;
    border: 1px solid #8970CE;
    border-radius: 15px;
    padding: 0 24px;
    font-size: 45px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url(../img/arrow_d.png);
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    outline: none;
    color: #5D5D5D;
}
.class_add2 .time span{
    font-size: 45px;
    font-weight: bold;
}
.class_add2 textarea{
    border: 1px solid #8970CE;
    border-radius: 15px;
    width: 100%;
    height: 20vw;
    padding: 24px;
    box-sizing: border-box;
    font-size: 24px;
}
.class_add2 .li3 .no_list{
    border: 1px solid #8970CE;
    border-radius: 15px;
}
.class_add2 .view{
    display: flex;
    align-items: center;
    text-align: center;
}
.class_add2 .view li{
    width: 48%;
    margin-left: 2%;
}
.class_add2 .view li:first-child{
    margin-left: 0;
}
.class_add2 .view figcaption{
    font-size: 1.5rem;
}
.class_add .bt_box{
    display: flex;
    justify-content: center;
}
.class_add .bt_box button{
    width: 400px;
    padding: 24px 0;
    font-size: 24px;
    border-radius: 15px;
}
.class_add .bt_box .btn_x{
    border: 1px solid #C6C6C6;
    background-color: #FFF;
}
.class_add .bt_box .btn_o{
    background-color: #5B35B1;
    color: #FFF;
    margin-left: 24px;
}
@media (max-width: 1500px){
    .mypage .user .flex{
        flex-wrap: wrap;
    }
    .mypage .m_ticket ol{
        flex-wrap: wrap;
    }
    .t_page .profile figure{
        width: 240px;
        height: 240px;
        top: -120px;
        left: 50%;
        transform: translateX(-50%);
    }
    .t_page .profile figcaption{
        margin-left: 0;
        margin: 120px auto 0;
    }
    .t_page .ab_pr label{
        width: 60px;
    }
}
@media (max-width: 1300px){
    .mypage .info{
        flex-wrap: wrap;
    }
    .mypage .info .user{
        width: 100%;
        margin-bottom: 1rem;
    }
    .mypage .right{
        width: 100%;
    }
    .mypage .user table{
        font-size: 2rem;
    }
    .mypage .user p.flex{
        font-size: 2rem;
    }
    .review li{
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media (max-width: 1200px){
    .login_form .bt_box{
        flex-wrap: wrap;
    }
    .login_form .bt_box .bt_lg{
        width: 100%;
        margin-bottom: 1rem;
    }
}
@media (max-width: 992px){
    .join .container{
        padding: 3rem;
    }
    .mypage .re_class .wrap{
        padding: 20px;
    }
    .mypage .re_class .text_l{
        font-size: 1.5rem;
    }
    .t_page .tag input{
        width: 80%;
    }
    .t_page .profile figcaption{
        margin: 0;
        margin-top: 80px;
        width: 100%;
    }
    .t_page .ab_pr label{
        width: 6vw;
        left: -2vw;
        bottom: -2vw;
    }
}
@media (max-width: 768px){
    .info_main .profile figure.ab_pr{
        top: -10vw;
    }
    .mypage .re_class .img{
        width: 200px;
        height: 200px;
    }
    .join{
        padding: 5rem;
    }
    .join .container{
        padding: 2rem;
    }
    .join .container h3{
        font-size: 2.5rem;
    }
    .join .container h5{
        margin-bottom: 1rem;
    }
    .join .container .list .t_wrap{
        flex-wrap: wrap;
        justify-content: center;
    }
    .join .container .list .t_wrap figcaption{
        margin-left: 0;
    }
    .join .container .list .t_wrap figcaption h6{
        text-align: center;
    }
    .join .container .bt_wrap{
        flex-wrap: wrap;
    }
    .join .container .bt_wrap button{
        width: 100%;
        margin-bottom: 1rem;
    }
    .join .container .bt_box button{
        padding: 18px 0;
    }
}
@media (max-width: 680px){
    .t_page .n_adr{
        flex-wrap: wrap;
    }
    .info_main .profile figcaption strong{
        width: 100%;
        text-align: center;
    }
    .t_page .n_adr input{
        margin-left: 0;
    }
    .t_page .list .add input{
        width: 90%;
    }
    .mypage .user h3 a{
        font-size: 1rem;
    }
    .mypage .review h3 a{
        font-size: 1rem;
    }
    .mypage .re_class .text_l{
        font-size: 1rem;
        text-align: center;
    }
    .mypage .re_class .text_l strong{
        font-size: 1.5rem;
    }
    .mypage .view_list ul{
        flex-wrap: wrap;
    }
    .mypage .view_list ul li{
        width: 48%;
        margin-bottom: 1rem;
    }
    .no_list{
        padding: 30px;
        margin-bottom: 24px;
    }
    .no_list p{
        font-size: 1.5rem;
        word-break: keep-all;
    }
    .no_list input{
        font-size: 1.5rem;
    }
    .review li p{
        font-size: 1rem;
    }
    .mypage .review .star span{
        width: 24px;
        height: 24px;
    }
    .mypage .m_ticket p{
        font-size: 1rem;
        margin-left: 12px;
    }
    .mypage .m_ticket .st{
        font-size: 2rem;
    }
    .mypage .m_ticket .st small{
        font-size: 1rem;
    }
    .mypage .m_ticket li .icon1{
        width: 40px;
    }
    .mypage .m_ticket li .icon2{
        width: 40px;
    }
    .mypage .re_class .wrap{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .mypage .re_class .img{
        margin-left: 0;
        margin-bottom: 24px;
    }
    .login_form{
        padding: 2rem 0;
    }
    .login_form form{
        width: 92%;
        padding: 2rem 0;
    }
    .login_form .bt_box .bt_lg{
        font-size: 1rem;
        padding: 12px 0;
    }
    .login_form .bt_box .bt_lg img{
        width: 24px;
        height: 24px;
    }
    .login_form h3{
        font-size: 2rem;
    }
    .login_form h5{
        width: 80%;
        margin: 0 auto 2rem;
        font-size: 1rem;
        word-break: keep-all;
    }
    .login_form .wrap a{
        font-size: 1rem;
    }
    .login_form .wrap p{
        font-size: 1.2rem;
    }
    .login_form .wrap input{
        padding: 12px 24px;
        font-size: 1rem;
    }
    .login_form .bt_login{
        padding: 12px 0;
        font-size: 1rem;
    }
    .login_form .bt_join{
        padding: 12px 0;
        font-size: 1rem;
    }
    .join{
        padding: 2rem 0;
    }
    .join .container{
        width: 92%;
        padding: 2rem 1rem;
    }
    .join .container h3{
        font-size: 1.5rem;
    }
    .join .container h5{
        font-size: 1rem;
    }
    .join .container .list li{
        padding: 1.5rem 0;
    }
    .join .container .list .t_wrap figcaption h6{
        font-size: 1.5rem;
    }
    .join .container .list .t_wrap figcaption p{
        text-align: center;
    }
    .join .container .bt_box{
        flex-wrap: wrap;
    }
    .join .container .bt_box button{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .join .container .list2 li>p{
        font-size: 1rem;
    }
    .join .container .list2 li input{
        padding: 12px;
        font-size: 14px;
    }
    .join .container .list2 .flex>input{
        width: 70%;
    }
    .join .container .list2 .flex>button{
        width: 28%;
        font-size: 14px;
        padding: 12px 0;
    }
    .join .container .check{
        padding: 12px;
    }
    .join .container .check input+label{
        font-size: 1rem;
    }
    .join .container .check input+label .ck{
        width: 24px;
        height: 24px;
    }
    .join .container .check>p{
        font-size: 0.8rem;
    }
    .join .container .bt_wrap button{
        height: 40px;
        font-size: 1rem;
    }
    .join .container .bt_wrap button img{
        width: 24px;
        height: 24px;
    }
    .replay{
        padding: 2rem 0;
    }
    .replay h3{
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }
    .replay h3 strong{
        font-size: 1.5rem;
    }
    .replay h3 small{
        font-size: 70%;
        padding: 0;
    }
    .replay h3 span{
        font-size: 14px;
    }
    .replay .explain{
        font-size: 1rem;
    }
    .mypage .user p.flex{
        font-size: 1.5rem;
    }
    .mypage .user table{
        font-size: 1.5rem;
    }.mypage .user p.flex input{
        margin: 0 auto;
    }
}
@media (max-width: 512px){
    .t_page .profile figure.ab_pr{
        top: -20vw;
    }
    .t_page .ab_pr label{
        width: 8vw;
    }
    .t_page .profile figcaption strong{
        font-size: 1.5rem;
        margin-bottom: 12px;
    }
    .t_page input{
        padding: 8px 12px;
        font-size: 14px;
        width: 75%;
        box-sizing: border-box;
        border-radius: 8px;
        height: 40px;
    }
    .t_page .bt_plus{
        width: 20%;
        height: 40px;
        margin-left: 8px;
    }
    .t_page .tag input{
        width: 75%;
        font-size: 14px;
        padding: 8px 12px;
    }
    .t_page .tag_list p{
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    .t_page .profile figcaption{
        padding-bottom: 0;
    }
    .t_page .tag_select li{
        border-radius: 8px;
        font-size: 14px;
        padding: 8px 0;
        white-space: nowrap;
        width: 32%;
        margin-left: 2%;
    }
    .t_page .tag_select{
        bottom: -295px;
        padding-bottom: 1rem;
    }
    .t_page .tag_select button{
        width: 30px;
        top: 4px;
        right: 4px;
    }
    .t_page h3{
        font-size: 16px;
        margin-bottom: 12px !important;
    }
    .t_page .plus_box input{
        width: 75%;
        padding: 4px 12px;
    }
    .t_page .list .add .minus{
        width: 40px;
    }
    .t_page .list .add input{
        border-radius: 8px;
        padding: 4px 12px;
    }
    .t_page .class{
        padding: 1rem 0;
    }
    .t_page .class p{
        font-size: 14px;
        word-break: keep-all;
    }
    .t_page .class input{
        width: 80%;
        font-size: 16px;
        border-radius: 8px;
        height: auto;
    }
}
.team-text span{
   text-overflow: ellipsis;
   overflow: hidden;
   word-break: break-word;
    
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical
}
.no_ticket input{
    width: 300px;
}
.no_ticket .buy{
    background-color: #5B35B1;
    color: #FFF;
    margin-left: 24px;
}
@media (max-width: 1200px){

}